<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Display</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 style="text-align: center" class="bg-light fixed-top">Student Data</h1>
    <br />
    <br />
    <table class="table m-3">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Course</th>
        <th scope="col">Roll No</th>
        <!-- Add more headers based on your table columns -->
      </tr>
      <div class="m-4">
        <div class="input-group m-0">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="basic-addon1"
          />
        </div>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-secondary float-end m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Add student
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/add-student" method="post">
      <div class="modal-body">
        <input type="text"class="form-control"
            placeholder="Enter Student Name"
            aria-label="Enter Student Name"
            aria-describedby="basic-addon1"
            name="name" /><br>
            <input type="text"class="form-control"
            placeholder="Enter Course "
            aria-label="Enter Course "
            aria-describedby="basic-addon1" 
            name="course"/> <br>
            <input type="text"class="form-control"
            placeholder="Enter Roll N0"
            aria-label="Enter Roll N0"
            aria-describedby="basic-addon1"
            name="rollno" /> <br>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary float-end m-1"  data-bs-target="#exampleModal">
  Delete Student
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
      <select
        class="form-select form-select-sm"
        aria-label="Small select example"
      >
      <div class="m-3">
        <!-- <select class="form-select form-select-sm" aria-label="Small select example"> -->
            <option selected="">Select any course</option>
            <option value="1">Btech</option>
            <option value="2">Mtech</option>
            <option value="3">MBA</option>
            <option value="3">MSC</option>
            <option value="3">MCA</option>
          <!-- </select> -->
      </div>
      {% for row in data %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <!-- Add more cells based on your table columns -->
      </tr>
      {% endfor %}
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
